import pysqlite3
import sys
import time
import jsondiff
import argparse
import pandas as pd
import os
import json
import numpy as np
import re
import spacy
import requests
import matplotlib.pyplot as plt
import subprocess
from sklearn.model_selection import train_test_split
from langchain_chroma import Chroma
from langchain_core.example_selectors import MaxMarginalRelevanceExampleSelector
from langchain_ollama import OllamaEmbeddings
from ollama import Client
from secret import OPENAI_API_KEY
from formal_specification.prompts_test import SYSTEM_PROMPT

# Redirect pysqlite3 to sqlite3
sys.modules["sqlite3"] = sys.modules.pop("pysqlite3")
